.display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    margin-right: 40px;
}

button{
    border: none;
    width: 80px;
    height: 50px;
    margin: 10px;
    border-radius: 40px;
}

button:hover{
    animation: ingrandisci 0.3s forwards;
    background-color: rgb(165, 165, 165);
}

@keyframes ingrandisci {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
