body {
    background-image: url(backgroundEmail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #c9c9c9e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

label {
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: fit-content;
}


@media (max-width: 400px) {
    
}